@model EventManagement.Models.New

@{
    ViewBag.Title = "NewsList";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div id="main-panel"></div>

<script src=@Url.Content("~/Scripts/JS/Area_Admin/NewsList.jsx") type="module"></script>
<link rel="stylesheet" href="~/Scripts/css/Area_Admin/NewsList.css" />
<link rel="stylesheet" href="~/Scripts/css/Area_Admin/EventEditor.css" />
<link rel="stylesheet" href="~/Scripts/css/Area_Admin/CategoryModel.css" />
<link rel="stylesheet" href="~/Scripts/css/Pages/ConfirmModal.css" />