@model EventManagement.Models.New

@{
    ViewBag.Title = "NewsEditor";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div id="main-panel">
</div>

<script src=@Url.Content("~/Scripts/JS/Area_Admin/NewsEditor.jsx") crossorigin="anonymous"></script>
<link rel="stylesheet" href="~/Scripts/css/Area_Admin/NewsEditor.css" />
<link rel="stylesheet" href="~/Scripts/css/Area_Admin/EventEditor.css" />