
@{
    ViewBag.Title = "SliderEditor";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div id="main-panel">
</div>

<script src=@Url.Content("~/Scripts/JS/Area_Admin/SliderEditor.jsx") crossorigin="anonymous"></script>
<link rel="stylesheet" href="~/Scripts/css/Area_Admin/SliderEditor.css" />
<link rel="stylesheet" href="~/Scripts/css/Area_Admin/EventEditor.css" />
<link rel="stylesheet" href="~/Scripts/css/Area_Admin/NewsList.css" />
<link rel="stylesheet" href="~/Scripts/css/Area_Admin/EditModel.css" />
