@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="error-container">
    <img src="~/Resources/images/ErorPic.svg" alt="Error Icon">
    <h1>Bạn không có quyền truy cập!</h1>
    <p>Xin lỗi, bạn không có quyền truy cập vào trang này.</p>
    <p>Vui lòng liên hệ quản trị viên nếu bạn cho rằng đây là một lỗi.</p>
</div>
<link rel="stylesheet" href="~/Scripts/css/Area_Admin/AccessDenied.css" />