body {
    min-height: 100vh;
}



h1 {
    color: #e74c3c;
}

img {
    max-width: 300px;
    margin-bottom: 20px;
}

.error-container {
    margin: auto;
    width: fit-content;
    min-height: 85vh;
}
