.model-category {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-header {
    border: 1px solid;
}

.model-category-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
}

.category-input {
    display: flex;
    margin-bottom: 15px;
}

    .category-input input {
        flex-grow: 1;
        margin-right: 10px;
        padding: 5px;
    }

.category-list {
    list-style-type: none;
    padding: 5px;
    border: 1px solid;
    height: 300px;
    overflow-y: scroll;
}

    .category-list li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        border-bottom: 1px solid;
        padding: 3px;
        align-items: center;
    }

.model-category-delete {
    background-color: red;
    color: white;
    border-radius: 5px;
    border: 1px solid;
    padding: 5px;
}

.model-category-fix {
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: 1px solid;
    padding: 5px;
}

.model-category-add {
    background-color: green;
    border-radius: 5px;
    color: white;
}

.close-button {
    margin-top: 15px;
    display: flex;
    float: right;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
