@model EventManagement.Models.User

@{
    ViewBag.Title = "UProfileUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="user-update"></div>


<script src=@Url.Content("~/Scripts/JS/Component_User/UpdateProfile.jsx")></script>
<link rel="stylesheet" href="~/Scripts/css/Component_User/UpdateProfile.css" />
<link rel="stylesheet" href="~/Scripts/css/Component_User/UserAside.css" />
