@model EventManagement.Models.User

@{
    ViewBag.Title = "UProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="user-content"></div>


<script src=@Url.Content("~/Scripts/JS/Component_User/UserProfile.jsx")></script>
<link rel="stylesheet" href="~/Scripts/css/Component_User/UserProfile.css" />
<link rel="stylesheet" href="~/Scripts/css/Component_User/UserAside.css" />



