
@{
    ViewBag.Title = "UserNewsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="user-content"></div>

<script src=@Url.Content("~/Scripts/JS/Component_User/UserNewsList.jsx")></script>
<link rel="stylesheet" href="~/Scripts/css/Component_User/UserNewsList.css" />
<link rel="stylesheet" href="~/Scripts/css/Component_User/UserAside.css" />