
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    @Html.Action("LeftPartial", "Home")

    <div id="content"></div>

    @Html.Action("RightPartial", "Home")
</div>


<script src=@Url.Content("~/Scripts/JS/Component_News/Content.jsx") type="module" crossorigin="anonymous"></script>
<link rel="stylesheet" href="~/Scripts/css/Component_News/Slider.css" />
@*<script src="https://cdn.tailwindcss.com/3.3.5"></script>*@
