@model EventManagement.Models.Account

@{
    ViewBag.Title = "AccountManage";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div id="main-panel"></div>

<script src=@Url.Content("~/Scripts/JS/Area_Admin/Account.jsx") type="module"></script>
@*<link rel="stylesheet" href="~/Scripts/css/Area_Admin/Account.css" />*@


