@model EventManagement.Models.Account

@{
    ViewBag.Title = "AddAccount";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div id="main-panel"></div>

<script src=@Url.Content("~/Scripts/JS/Area_Admin/AddAccount.jsx") type="module"></script>
<link rel="stylesheet" href="~/Scripts/css/Area_Admin/AddAccount.css" />




