@model EventManagement.Models.Account

@{
    ViewBag.Title = "UpdateAccount";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div id="main-panel"></div>

<script src=@Url.Content("~/Scripts/JS/Area_Admin/UpdateAccount.jsx") type="module"></script>
