.login-container {
    background-image: url('../../../Resources/images/login-background.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 300px;
    height: auto;
    border: 3px solid;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 1);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
}

.login-inner-form {
    justify-content: center;
    align-items: center;
}

.login-text {
    display: flex;
    justify-content: center;
}

.login-input {
    border: 1px solid;
    width: 98%;
    height: 35px;
    border-radius: 10px;
    border: 2px solid;
    padding-left: 10px;
}

.hint-forget-pass {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.login-forget {
    font-size: 15px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

.btn-login {
    margin-top: 20px;
    display: flex;
    margin-left:25%;
    height: 40px;
    width: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
