@model EventManagement.Models.ADMIN

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Admin</title>
    <link rel="stylesheet" href="~/Scripts/css/Area_Admin/LoginAdmin.css" />
    <script src="~/Scripts/jquery-3.7.0.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
    <script src=@Url.Content("~/Scripts/JS/Area_Admin/LoginAdmin.jsx")></script>
</head>
<body>
    <div id="login-admin">
    </div>

</body>
</html>
