@model EventManagement.Models.EventInfo

@{
    ViewBag.Title = "EventList";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div id="main-panel"></div>

<script src=@Url.Content("~/Scripts/JS/Area_Admin/EventList.jsx") type="module"></script>
<link rel="stylesheet" href="~/Scripts/css/Area_Admin/EventList.css" />
<link rel="stylesheet" href="~/Scripts/css/Area_Admin/NewsList.css" />
<link rel="stylesheet" href="~/Scripts/css/Component_Event/Registration.css" />
<link rel="stylesheet" href="~/Scripts/css/Component_Event/Location.css" />
<link rel="stylesheet" href="~/Scripts/css/Pages/ConfirmModal.css" />

