
@{
    ViewBag.Title = "EventEditor";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div id="main-panel">
</div>

<script src=@Url.Content("~/Scripts/JS/Area_Admin/EventEditor.jsx") crossorigin="anonymous"></script>
<link rel="stylesheet" href="~/Scripts/css/Area_Admin/EventEditor.css" />