html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.Add-wrapper {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #EEEEEE;
}

.main-NewsAdd-container {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.NewsAdd-create-blog {
    width: fit-content;
    flex: 1;
    padding: 10px;
    border: 1px solid;
}

.NewsAdd-shower-container div span {
    font-size: 18px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    margin-left: 5px;
}

.NewsAdd-shower-container span:hover {
    background-color: rgb(252, 185, 97);
}

.NewsAdd-shower-container {
    display: flex;
    justify-content: space-between;
}

    .NewsAdd-shower-container div {
        margin-top: 10px;
    }

.NewsAdd-picHint {
    display: flex;
    width: 40px;
    margin-bottom: 10px;
}

.NewsAdd-container {
    flex: 1;
    display: flex;
    overflow-x: scroll;
}

.NewsAdd-aside {
    border: 1px solid;
    width: 250px;
    background-color: #686D76;
}

.NewsAdd-NewsImage div img {
    width: 150px;
}

.NewsAdd-NewsImage {
    display:flex;
    align-items: center;
}

.selectFileNews {
    margin-left: 15px;
}

.NewsAdd-NewsImage div {
    width: fit-content;
    display: flex;
    align-items: center;
}

    .NewsAdd-NewsImage div button {
        display: flex;
        height: fit-content;
        border: 1px solid;
        padding: 10px;
        margin-left: 10px;
        background-color: white;
        border-radius: 5px;
    }

.NewsAdd-NewsName input {
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
    width: 50%;
}

.NewsAdd-catalog {
    display: flex;
    align-items: center;
}

    .NewsAdd-catalog p {
        margin-right: 20px;
    }

.NewsAdd-Catalog-input {
    border: 1px solid;
    border-radius: 5px;
    height: 30px;
    padding-left: 5px;
    width: 30%;
}

.NewsAdd-btn-post {
    padding: 10px;
    width: fit-content;
    margin: auto;
}

    .NewsAdd-btn-post button {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid;
    }

.NewsAdd-editor {
    flex: 1;
}
