<div id="right"></div>

<script src=@Url.Content("~/Scripts/JS/Component_Competition/CompetitionRightContainer.jsx")></script>
<link rel="stylesheet" href="~/Scripts/css/Component_Competition/CompetitionRightContainer.css" />




