<div id="left"></div>

<script src=@Url.Content("~/Scripts/JS/Component_Competition/CompetitionLeftContainer.jsx")></script>
<link rel="stylesheet" href="~/Scripts/css/Component_Competition/CompetitionLeftContainer.css" />



