<div id="left"></div>

<script src=@Url.Content("~/Scripts/JS/Component_Seminar/SeminarLeftContainer.jsx")></script>
<link rel="stylesheet" href="~/Scripts/css/Component_Seminar/SeminarLeftContainer.css" />


