<div id="right"></div>

<script src=@Url.Content("~/Scripts/JS/Component_Seminar/SeminarRightContainer.jsx")></script>
<link rel="stylesheet" href="~/Scripts/css/Component_Seminar/SeminarRightContainer.css" />



